* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	
	box-sizing: border-box;
	outline: none;

	color: #FFF;
	
	margin: 0;
	padding: 0;
}

*[selectable] {
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

body {
	background-color: #111119;
	background-image: url(../assets/background-logo.png);

	font-family: "Inter", "Avenir Next", Avenir, Arial, Futura;
	
	margin: 0 0.5rem;
}

a {
	color: #08F;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}