tag {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	width: max-content;
	max-width: min(30rem,100%);
	
	background: #667;

	text-align: center;

	border-radius: 1rem;
	
	margin: 0.2rem auto;
	padding: 0.3rem 0.8rem;
}

tag title {
	display: block;
	
	font-size: 1rem;
	font-weight: bold;
	font-weight: var(--bold);
}

tag description {
	color: #CCC;
	font-size: 0.65rem;
}

tag[type="warn"] {
	background: #F50;
}

tag[type="error"] {
	background: #F00;
}

tag[type="info"] {
	background: #08F;
}