crash {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: #22221A;
	color: white;

	z-index: 4;
}

crash info {
	font-size: 1.3rem;
	font-weight: bold;
}

crash reason {
	font-family: Menlo;
	font-size: 0.8rem;

	margin: 0.8rem 0;

	cursor: text;
}

crash a {
	background: #06F;
	
	color: #FFF;
	font-size: 0.9rem;

	border: 0.1rem solid #06F;
	border-radius: 0.4rem;

	padding: 0.4rem 0.8rem;

	cursor: pointer;

	transition: background 0.2s linear;
}

crash a:hover {
	background: transparent;

	text-decoration: none;
}

loader {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: #111119;

	z-index: 3;
}

loader * {
	display: block;
}

loader title {
	font-size: 1.2rem;
	font-weight: bold;
	font-weight: 500;
}

loader container {
	width: 100%;
	max-width: 20rem;
	height: 1rem;
	
	background: #181825;
	
	border-radius: 1rem;
	
	margin: 0.5rem auto;
	
	overflow: hidden;
}

loader bar {
	height: 100%;
	
	background: #FFF;
}

loader quotes {
	color: #888;
	font-size: 0.8rem;
	font-style: italic;
}

#canvas {
	position: fixed;
	top: 0;
	left: 0;

	background: #111119;

	transform-origin: 0 0;

	z-index: 2;
}