* {
	text-align: center;
}

button, label, input {
	display: block;

	background: #222;

	border: 0.1rem solid #222;
	border-radius: 0.5rem;
	
	margin: 0.5rem auto;

	transition: background 0.2s linear;
}

button, label {
	width: max-content;
	
	font-size: 1rem;
	
	padding: 0.6rem 1rem;
	
	cursor: pointer;
}

input {
	width: 8rem;

	font-size: 0.8rem;
	
	padding: 0.2rem 0.4rem;
	
	cursor: text;
}

button:hover, label:hover, input:focus {
	background: transparent;
}

button[disabled], label[disabled], input[disabled] {
	color: #333;
	background: #181818;
	
	cursor: default;
}

button[disabled]:hover, label[disabled]:hover, input[disabled]:hover {
	background: #181818;
}